ul{
    background-color: rgba(45, 45, 45, 0.8);
    display: flex;
    justify-content: space-evenly;
}

li {
    
    
    list-style-type: none;

}

a{
    color: azure;
    text-decoration: none; 

}



.outer{
    height: 400px;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 200px;
    width: 200px;
    background-color: azure;
}