body{
    position: absolute;
}

div{
   
    width: 100px;
    height: 100px;
    background-color: rgb(0 0, 255);
    border: 2px solid black;
    transition: 1s;
    animation: colorAnimate 2s ;

}

/* div:hover{
    background-color: red;
} */

/* div:active{
    background-color: red;
    font-size: 2rem;
    

     margin-left: 200px;
    transform:skew(30px,50px);
} */



@keyframes colorAnimate {
    from{font-size: 20px;}
    to{font-size: 30px;}
}