.loader{
    width: 200px;
    height: 200px;
    
    border: 20px solid rgb(216, 244, 1);
    border-top: 20px solid rgb(255, 70, 70);
    border-radius: 50%;
    animation: loader 2s normal 0.2s infinite;
}
   

@keyframes loader {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
        
    }
}