#one{
    height: 100px;
    width: 100px;
    background-color: rgb(7, 230, 7);
    /* border-radius: 10px;
    box-shadow:  5px 5px 12px rgb(2, 89, 2);
    box-shadow: inset 5px 5px 15px rgb(13, 93, 16); */
    
}

#two{
height: 50px;
 /* width: 30%; */
 width: 50px;
 text-align: center;
 background-color: yellow;
}


div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#b1{
    background-image: url(fox_photo.jpg);
    background-size: cover;
}
