div{
    height: 100px;
   width: 100px;
    background-color: aqua;
   border: 2px solid cadetblue ;
   margin: 25px;
   padding: 25px;
   display: inline;

   background-color: rgba(255, 255, 0, 0.5) ;
    
}

#r {
    background-color: rgba(255, 120, 40, 0.2);
}

#g{
    background-color: rgba(77, 35, 129, 0.5);
}

#b{
    background-color: rgba(25, 200, 90, 0.8);
}